.source {
	font-size: small;
}

.source a {
	color: #bbbbbb;
}

.collapsible {
	border: 1px solid black;
	margin-bottom: 1rem !important;
}

.collapsible > .title {
	background-color: #dddddd;
}

.irrelevant {
	color: #999999;
}