.collapsible {
	border: 1px solid black;
	margin-bottom: 1rem !important;
}

.collapsible > .title {
	background-color: #dddddd;
}

.irrelevant {
	color: #999999;
}

ul.magellan {
	min-width: 0 !important;
	width: 270px;
}